# Pandas: powerful Python data analysis toolkit

## Python에서 R 만큼의 강력한 데이터 핸들링 성능을 제공하는 모듈
## 단일 프로세스에서는 최대 효율
## 코딩 가능하고 응용 가능한 엑셀로 받아들여도 됨
## 누군가는 스테로이드를 맞은 엑셀로 표현함

In [11]:
#-*- encoding: utf-8 -*-

# Python 모듈에 대한 naming 규칙
## import MODULE : MODULE 을 사용하겠다
### 사용: MODULE.function
## import MODULE as md
### MODULE을 사용할 건데, 앞으로는 md라는 이름으로 부르겠다.
### 사용 : md.function
## from MODULE import function
### MODULE 에 포함된 function 이라는 함수만 사용하겠다
### 사용: function

In [23]:
import pandas as pd
CCTV_Seoul = pd.read_csv('C:/Users/mina/Desktop/제로베이스교육210913/data/01.Seoul_CCTV.csv',encoding = 'utf-8')
CCTV_Seoul.head()

,구분,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
0,계,"77,032","7,667","2,200","3,491","4,439","6,582","8,129","9,947","9,876","11,961","11,132","1,608"
1,종로구,"1,772",813,0,0,210,150,1,261,85,9,200,43
2,중 구,"2,333",16,114,87,77,236,240,372,386,155,361,289
3,용산구,"2,383",34,71,234,125,221,298,351,125,307,617,0
4,성동구,"3,602",448,125,212,105,339,310,874,390,262,461,76

In [25]:
CCTV_Seoul.columns
CCTV_Seoul.columns[0]

'구분'

In [26]:
#컬럼이름 바꾸기
CCTV_Seoul.rename(columns = {CCTV_Seoul.columns[0]:'구별'}, inplace = True)
CCTV_Seoul.head()

,구별,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
0,계,"77,032","7,667","2,200","3,491","4,439","6,582","8,129","9,947","9,876","11,961","11,132","1,608"
1,종로구,"1,772",813,0,0,210,150,1,261,85,9,200,43
2,중 구,"2,333",16,114,87,77,236,240,372,386,155,361,289
3,용산구,"2,383",34,71,234,125,221,298,351,125,307,617,0
4,성동구,"3,602",448,125,212,105,339,310,874,390,262,461,76

In [31]:
pop_Seoul = pd.read_excel('C:/Users/mina/Desktop/제로베이스교육210913/data/01.Seoul_Population.xls')
pop_Seoul.head()

,기간,자치구,세대,인구,인구.1,인구.2,인구.3,인구.4,인구.5,인구.6,인구.7,인구.8,세대당인구,65세이상고령자
0,기간,자치구,세대,합계,합계,합계,한국인,한국인,한국인,등록외국인,등록외국인,등록외국인,세대당인구,65세이상고령자
1,기간,자치구,세대,계,남자,여자,계,남자,여자,계,남자,여자,세대당인구,65세이상고령자
2,2021.2/4,합계,4405638,9795426,4756178,5039248,9565990,4649442,4916548,229436,106736,122700,2.17,1576971
3,2021.2/4,종로구,73525,155106,75009,80097,146029,70985,75044,9077,4024,5053,1.99,27605
4,2021.2/4,중구,62897,132259,64526,67733,123016,60019,62997,9243,4507,4736,1.96,23980