In [5]:
import numpy as np
import pandas as pd 
import os
import glob

In [6]:
!dir

 C 드라이브의 볼륨: Windows
 볼륨 일련 번호: 2851-DC19

 C:\Users\admin\파이썬교육\numpy &pandas\교육 프로젝트\210706_개별프로젝트_교육\mysim 디렉터리

2021-07-12  오전 12:02    <DIR>          .
2021-07-12  오전 12:02    <DIR>          ..
2021-07-11  오후 09:00    <DIR>          .ipynb_checkpoints
2021-07-11  오후 11:23           220,231 210709_개별프로젝트.ipynb
2021-07-09  오후 01:36    <DIR>          data
2021-07-12  오전 12:02           334,487 Untitled.ipynb
2021-07-09  오전 09:26         3,449,959 개인프로젝트_심명진.pptx
               3개 파일           4,004,677 바이트
               4개 디렉터리  87,235,305,472 바이트 남음

In [7]:
#path변환
os.chdir('./data')
#데이터 읽기
os.getcwd

In [8]:
# glob.glob('11*')

In [9]:
# df1 = df.copy()
# df = pd.concat([df1,df2])

In [10]:
file_list = glob.glob('*')
file_list[3:9]
# file_list

['14년 고등교육기관(대학) 학교별 학과별 입학정원 입학 지원 재적 재학 휴학 외국인유학생 졸업 교원.xlsx',
 '15년 고등교육기관(대학) 학교별 학과별 입학정원 입학 지원 재적 재학 휴학 외국인유학생 졸업 교원.xlsx',
 '16년 고등교육기관(대학) 학교별 학과별 입학정원 입학 지원 재적 재학 휴학 외국인유학생 졸업 교원.xlsx',
 '17년 고등교육기관(대학) 학교별 학과별 입학정원 입학 지원 재적 재학 휴학 외국인유학생 졸업 교원.xlsx',
 '18년 고등교육기관(대학) 학교별 학과별 입학정원 입학 지원 재적 재학 휴학 외국인유학생 졸업 교원.xlsx',
 '19년 고등교육기관(대학) 학교별 학과별 입학정원 입학 지원 재적 재학 휴학 외국인유학생 졸업 교원.xlsx']

In [11]:
df= pd.DataFrame()
for files in file_list[3:9]:
    tmp=  pd.read_excel(files,header=13)[14:]
    df = pd.concat([df,tmp],ignore_index=True)

In [12]:
df.dtypes.index[df.dtypes == 'int64']

Index(['연도', '학과수_전체', '학과수_석사', '학과수_박사', '입학정원', '지원자_전체_계', '지원자_전체_여',
       '지원자_석사_계', '지원자_석사_여', '지원자_박사_계', '지원자_박사_여', '입학자_전체_계', '입학자_전체_여',
       '입학자_석사_계', '입학자_석사_여', '입학자_박사_계', '입학자_박사_여', '재적생_전체_계', '재적생_전체_여',
       '재학생_전체_계', '재학생_전체_여', '휴학생_전체_계', '휴학생_전체_여', '재적생_석사_계', '재적생_석사_여',
       '재학생_석사_계', '재학생_석사_여', '휴학생_석사_계', '휴학생_석사_여', '재적생_박사_계', '재적생_박사_여',
       '재학생_박사_계', '재학생_박사_여', '휴학생_박사_계', '휴학생_박사_여', '외국인유학생_총계_계',
       '외국인유학생_총계_여', '외국인유학생_학사_계', '외국인유학생_학사_여', '외국인유학생_석사_계',
       '외국인유학생_석사_여', '외국인유학생_박사_계', '외국인유학생_박사_여', '졸업자_전체_계', '졸업자_전체_여',
       '졸업자_석사_계', '졸업자_석사_여', '졸업자_박사_계', '졸업자_박사_여', '전임교원_계', '전임교원_여',
       '비전임교원_계', '비전임교원_여', '시간강사_계', '시간강사_여'],
      dtype='object')

In [ ]:
df.dtypes.index[df.dtypes == 'object']

In [ ]:
#null값 존재하는 컬럼
null_columns = df.isna().sum().index[df.isna().sum() > 0 ]
null_columns

In [ ]:
pd.DataFrame(df.dtypes)
.str.contains('int')

In [ ]:
df.info()

In [ ]:
df.head()

In [24]:
pd.set_option('display.max_columns', 100) #pd 컬럼 결과 모두 출력
pd.set_option('display.max_rows', 500) #pd 행 결과 모두 출력
np.set_printoptions(threshold=np.inf) # 배열의 모두를 출력

In [34]:
df.columns

Index(['연도', '학제', '학교명', '학교상태', '본분교', '시도', '시군구', '설립', '주야구분', '주소',
       '우편번호', '전화번호', '팩스번호', '홈페이지', '학위과정', '대계열', '중계열', '소계열', '학과코드',
       '학과명', '학과수_전체', '학과수_석사', '학과수_박사', '입학정원', '지원자_전체_계', '지원자_전체_여',
       '지원자_석사_계', '지원자_석사_여', '지원자_박사_계', '지원자_박사_여', '입학자_전체_계', '입학자_전체_여',
       '입학자_석사_계', '입학자_석사_여', '입학자_박사_계', '입학자_박사_여', '재적생_전체_계', '재적생_전체_여',
       '재학생_전체_계', '재학생_전체_여', '휴학생_전체_계', '휴학생_전체_여', '재적생_석사_계', '재적생_석사_여',
       '재학생_석사_계', '재학생_석사_여', '휴학생_석사_계', '휴학생_석사_여', '재적생_박사_계', '재적생_박사_여',
       '재학생_박사_계', '재학생_박사_여', '휴학생_박사_계', '휴학생_박사_여', '외국인유학생_총계_계',
       '외국인유학생_총계_여', '외국인유학생_학사_계', '외국인유학생_학사_여', '외국인유학생_석사_계',
       '외국인유학생_석사_여', '외국인유학생_박사_계', '외국인유학생_박사_여', '졸업자_전체_계', '졸업자_전체_여',
       '졸업자_석사_계', '졸업자_석사_여', '졸업자_박사_계', '졸업자_박사_여', '전임교원_계', '전임교원_여',
       '비전임교원_계', '비전임교원_여', '시간강사_계', '시간강사_여'],
      dtype='object')

In [ ]:
-

In [28]:
df.대계열.unique()

array(['사회계열', '교육계열', '공학계열', '자연계열', '의약계열', '예체능계열', '인문계열'],
      dtype=object)

In [33]:
df.groupby('대계열').취업률

AttributeError: 'DataFrameGroupBy' object has no attribute '취업률'

In [41]:
 del_columns=['우편번호', '전화번호', '팩스번호', '홈페이지']
df.drop(del_columns,axis = 1,inplace=True)

In [45]:
numeric_columns = df.dtypes[df.dtypes == 'int64'].index  #시리즈니까 .index 수치형 데이터 
df[numeric_columns]

,연도,학과수_전체,학과수_석사,학과수_박사,입학정원,지원자_전체_계,지원자_전체_여,지원자_석사_계,지원자_석사_여,지원자_박사_계,...,졸업자_석사_계,졸업자_석사_여,졸업자_박사_계,졸업자_박사_여,전임교원_계,전임교원_여,비전임교원_계,비전임교원_여,시간강사_계,시간강사_여
0,2014,1,0,0,39,168,42,0,0,0,...,0,0,0,0,5,1,2,18,4,0
1,2014,1,0,0,39,191,81,0,0,0,...,0,0,0,0,5,1,2,18,2,0
2,2014,0,0,0,0,0,0,0,0,0,...,0,0,0,0,4,2,1,9,9,5
3,2014,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2014,1,0,0,39,192,12,0,0,0,...,0,0,0,0,7,0,1,0,7,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183001,2019,1,0,0,30,732,39,0,0,0,...,0,0,0,0,2,0,0,0,6,0
183002,2019,1,0,0,0,0,0,0,0,0,...,0,0,0,0,4,0,0,0,3,1
183003,2019,0,0,0,0,22,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
183004,2019,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
183005,2019,1,0,0,60,230,7,0,0,0,...,0,0,0,0,1,0,1,0,0,0

In [46]:
df[numeric_columns].sum()

연도             369033741
학과수_전체            205853
학과수_석사             62701
학과수_박사             29321
입학정원             3666775
지원자_전체_계        30601722
지원자_전체_여        15852459
지원자_석사_계         1160785
지원자_석사_여          643174
지원자_박사_계          242588
지원자_박사_여          102358
입학자_전체_계         4522861
입학자_전체_여         2293219
입학자_석사_계          596843
입학자_석사_여          312019
입학자_박사_계          157634
입학자_박사_여           65172
재적생_전체_계        20918953
재적생_전체_여         9102190
재학생_전체_계        15120931
재학생_전체_여         7737833
휴학생_전체_계         4931620
휴학생_전체_여         1152256
재적생_석사_계         1523123
재적생_석사_여          796094
재학생_석사_계         1319310
재학생_석사_여          692983
휴학생_석사_계          203813
휴학생_석사_여          103111
재적생_박사_계          441782
재적생_박사_여          174135
재학생_박사_계          383254
재학생_박사_여          148099
휴학생_박사_계           58528
휴학생_박사_여           26036
외국인유학생_총계_계       430288
외국인유학생_총계_여       240584
외국인유학생_학사_계       271434
외국인유학생_학사_여       153413
외국인유학생_석사_계       113336
외국인유학생_석사_여        67629
외국인유학생_박사_계        45518
외국인유학생_박사_여        19542
졸업자_전체_계         4023217
졸업자_전체_여         2104896
졸업자_석사_계          494529
졸업자_석사_여          253239
졸업자_박사_계           84188
졸업자_박사_여           31003
전임교원_계            536741
전임교원_여            134521
비전임교원_계           323647
비전임교원_여           793063
시간강사_계            453246
시간강사_여            228936
dtype: int64

In [49]:
feature_columns = df.columns[pd.Series(df.columns).str.slice(-1) != '여'] #여 아닌 데이터들 불러모아ㅏ
feature_columns

Index(['연도', '학제', '학교명', '학교상태', '본분교', '시도', '시군구', '설립', '주야구분', '주소',
       '학위과정', '대계열', '중계열', '소계열', '학과코드', '학과명', '학과수_전체', '학과수_석사',
       '학과수_박사', '입학정원', '지원자_전체_계', '지원자_석사_계', '지원자_박사_계', '입학자_전체_계',
       '입학자_석사_계', '입학자_박사_계', '재적생_전체_계', '재학생_전체_계', '휴학생_전체_계', '재적생_석사_계',
       '재학생_석사_계', '휴학생_석사_계', '재적생_박사_계', '재학생_박사_계', '휴학생_박사_계',
       '외국인유학생_총계_계', '외국인유학생_학사_계', '외국인유학생_석사_계', '외국인유학생_박사_계', '졸업자_전체_계',
       '졸업자_석사_계', '졸업자_박사_계', '전임교원_계', '비전임교원_계', '시간강사_계'],
      dtype='object')

In [51]:
df.groupby(['연도','학제']).mean().입학정원

연도    학제
2014  각종대학(대학)      18.800000
      각종대학(전문)      40.000000
      교육대학          24.710345
      기능대학          38.084112
      기술대학           6.250000
                      ...
2019  전문대학(2년제)     31.898632
      전문대학(3년제)     33.684969
      전문대학(4년제)    106.500000
      전문대학원          0.000000
      특수대학원          0.000000
Name: 입학정원, Length: 119, dtype: float64

In [14]:
raw_df = df.copy()

In [57]:
df.loc[df.학교명 == '서울대학교',:].groupby('연도').mean().입학정원

연도
2014    19.090361
2015    18.841463
2016    19.681529
2017    20.328947
2018    19.685535
2019    21.006711
Name: 입학정원, dtype: float64

In [59]:
df.학과명.unique().size

16203

In [140]:
df_work = pd.read_excel(file_list[-1])
df_work

,조사회차,학교코드,학교명,본분교,학과코드,학과명,주야구분,취업률,졸업자수,건보가입취업자,...,가구,국제,NONE,대기업,중견기업,중소기업,국가 및 지방자치단체,공공기관 및 공기업,비영리법인,기타.1
0,20191,73002000,군산간호대학교,1,C06010100008,간호학과(4년제),1,85.7639,289,246,...,0,0,0,0,1,42,3,25,174,0
1,20191,73026000,기독간호대학교,1,C06010100004,간호학과,H1,90.4762,22,19,...,0,0,0,0,0,4,0,7,8,0
2,20191,73026000,기독간호대학교,1,C06010100007,간호과(4년제),1,80.9524,151,119,...,0,0,0,0,0,45,1,13,59,0
3,20191,73075000,서울여자간호대학교,1,C06010100004,간호학과,H1,83.3333,36,30,...,0,0,0,0,0,4,2,8,16,0
4,20191,73075000,서울여자간호대학교,1,C06010100008,간호학과(4년제),1,82.9167,240,197,...,0,0,0,1,0,15,2,18,161,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18873,20191,Z3210000,한국폴리텍대학 항공캠퍼스,1,C04030200006,항공전자과,1,82.3529,36,28,...,0,0,0,7,6,13,1,0,0,0
18874,20191,Z3210000,한국폴리텍대학 항공캠퍼스,1,C04030200010,항공메카트로닉스과,1,84.3137,52,43,...,0,0,1,10,15,17,0,0,1,0
18875,20191,Z3210000,한국폴리텍대학 항공캠퍼스,1,C04030200019,항공정비과,1,75,26,18,...,0,0,1,8,0,8,2,0,0,0
18876,20191,Z3210000,한국폴리텍대학 항공캠퍼스,1,C04030200027,항공제어시스템과,1,77.7778,53,35,...,0,0,0,4,4,26,1,0,0,0
18877,20191,Z3210000,한국폴리텍대학 항공캠퍼스,1,C04070300034,항공신소재과,O,92.8571,14,12,...,0,0,0,0,0,12,0,0,0,0

In [127]:
df_work['취업률']

0        85.7639
1        90.4762
2        80.9524
3        83.3333
4        82.9167
          ...
18873    82.3529
18874    84.3137
18875         75
18876    77.7778
18877    92.8571
Name: 취업률, Length: 18878, dtype: object

In [139]:
df_work

0        85.763889
1        90.476190
2        80.952381
3        83.333333
4        82.916667
           ...
18873    82.352941
18874    84.313725
18875    75.000000
18876    77.777778
18877    92.857143
Name: 취업률, Length: 18355, dtype: float64

In [145]:
df_work = df_work[df_work.취업률 != '-']
df_work.취업률 = df_work.취업률.astype('float')
df_work['학과코드']

0        C06010100008
1        C06010100004
2        C06010100007
3        C06010100004
4        C06010100008
             ...
18873    C04030200006
18874    C04030200010
18875    C04030200019
18876    C04030200027
18877    C04070300034
Name: 학과코드, Length: 18355, dtype: object

In [148]:
df_work[df_work.학과코드.isin(df_work.groupby('학과코드').mean().취업률.sort_values(ascending=False).head(100).index)]

Empty DataFrame
Columns: [조사회차, 학교코드, 학교명, 본분교, 학과코드, 학과명, 주야구분, 취업률, 졸업자수, 건보가입취업자, 교내취업자, 해외취업자, 농림어업종사자, 개인창작활동종사자, 1인창(사)업자, 프리랜서, 진학자, 입대자, 취업불가능자, 외국인유학생, 제외인정자, 기타, 미상, 분석대상자수, 농업, 광업, 제조업, 전기, 수도, 건설업, 도소매, 운수, 숙박, 정보통신, 금융, 부동산, 전문과학, 사업시설, 공공, 교육, 보건, 예술, 협회, 가구, 국제, NONE, 대기업, 중견기업, 중소기업, 국가 및 지방자치단체, 공공기관 및 공기업, 비영리법인, 기타.1]
Index: []

[0 rows x 53 columns]

In [150]:
sel_columns = df_work.groupby('학과코드').mean().취업률.sort_values(ascending=False).head(100).index
df_work.loc[df_work.학과코드.isin(sel_columns),['학교명','학과명','학과코드','취업률']]

               학교명           학과명          학과코드    취업률
445          고구려대학     커피외식창업복지과  C05030200336  100.0
519          농협대학교  협동조합경영과(2년제)  C05010100033  100.0
1111       배화여자대학교         전통의상과  C05030300005  100.0
1332         신구대학교        원예디자인과  C05010200034  100.0
1416       안동과학대학교        건설정보학과  C04080390062  100.0
...            ...           ...           ...    ...
18150     한림대학교대학원      법심리학협동과정  G02020100130  100.0
18180     한서대학교대학원     아동청소년복지학과  G02030100124  100.0
18513  광주대학교 일반대학원     도시계획부동산학과  G02030300050  100.0
18535  영산대학교 일반대학원          법률학과  G02020100115  100.0
18543  중원대학교 일반대학원      국제물류통상학과  G02010600117  100.0

[105 rows x 4 columns]

In [151]:
df_work.columns
df_work.loc[df_work.학과코드] =

Index(['조사회차', '학교코드', '학교명', '본분교', '학과코드', '학과명', '주야구분', '취업률', '졸업자수',
       '건보가입취업자', '교내취업자', '해외취업자', '농림어업종사자', '개인창작활동종사자', '1인창(사)업자', '프리랜서',
       '진학자', '입대자', '취업불가능자', '외국인유학생', '제외인정자', '기타', '미상', '분석대상자수', '농업',
       '광업', '제조업', '전기', '수도', '건설업', '도소매', '운수', '숙박', '정보통신', '금융', '부동산',
       '전문과학', '사업시설', '공공', '교육', '보건', '예술', '협회', '가구', '국제', 'NONE', '대기업',
       '중견기업', '중소기업', '국가 및 지방자치단체', '공공기관 및 공기업', '비영리법인', '기타.1'],
      dtype='object')

In [158]:
df_work.iloc[(df_work.프리랜서/df_work.졸업자수).sort_values(ascending=False)]

,조사회차,학교코드,학교명,본분교,학과코드,학과명,주야구분,취업률,졸업자수,건보가입취업자,...,가구,국제,NONE,대기업,중견기업,중소기업,국가 및 지방자치단체,공공기관 및 공기업,비영리법인,기타.1
1,20191,73026000,기독간호대학교,1,C06010100004,간호학과,H1,90.476190,22,19,...,0,0,0,0,0,4,0,7,8,0
1,20191,73026000,기독간호대학교,1,C06010100004,간호학과,H1,90.476190,22,19,...,0,0,0,0,0,4,0,7,8,0
1,20191,73026000,기독간호대학교,1,C06010100004,간호학과,H1,90.476190,22,19,...,0,0,0,0,0,4,0,7,8,0
1,20191,73026000,기독간호대학교,1,C06010100004,간호학과,H1,90.476190,22,19,...,0,0,0,0,0,4,0,7,8,0
1,20191,73026000,기독간호대학교,1,C06010100004,간호학과,H1,90.476190,22,19,...,0,0,0,0,0,4,0,7,8,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,20191,73002000,군산간호대학교,1,C06010100008,간호학과(4년제),1,85.763889,289,246,...,0,0,0,0,1,42,3,25,174,0
0,20191,73002000,군산간호대학교,1,C06010100008,간호학과(4년제),1,85.763889,289,246,...,0,0,0,0,1,42,3,25,174,0
0,20191,73002000,군산간호대학교,1,C06010100008,간호학과(4년제),1,85.763889,289,246,...,0,0,0,0,1,42,3,25,174,0
0,20191,73002000,군산간호대학교,1,C06010100008,간호학과(4년제),1,85.763889,289,246,...,0,0,0,0,1,42,3,25,174,0
0,20191,73002000,군산간호대학교,1,C06010100008,간호학과(4년제),1,85.763889,289,246,...,0,0,0,0,1,42,3,25,174,0

In [ ]:
df_work[''] = (df_work.프리랜서/df_work.졸업자수)

In [174]:
#학교별 취업률 순위
df_work.groupby('학교명').취업률.mean().sort_values(ascending=False).head(100)

학교명
제주국제대학교 일반대학원       100.000000
창신대학                100.000000
영남신학대학교대학원          100.000000
신흥대학교               100.000000
우송대학교 일반대학원         100.000000
                       ...
한국폴리텍 V 대학 김제캠퍼스     80.670464
한동대학교 일반대학원          80.555556
한국폴리텍 II 안성캠퍼스       80.299825
한경대학교 일반대학원          80.277778
경주대학교일반대학원           80.213904
Name: 취업률, Length: 100, dtype: float64

In [ ]:
#프리랜서(의학계열 제외) 비율 높은 학교

In [171]:
df_work.loc[df_work.취업률.sort_values(ascending = False).index,:].head(50)

,조사회차,학교코드,학교명,본분교,학과코드,학과명,주야구분,취업률,졸업자수,건보가입취업자,...,가구,국제,NONE,대기업,중견기업,중소기업,국가 및 지방자치단체,공공기관 및 공기업,비영리법인,기타.1
6844,20191,53007000,건양대학교,1,U04020100016,건설시스템공학과,1,100.0,1,1,...,0,0,0,0,0,1,0,0,0,0
15951,20191,53022600,광운대학교대학원,1,G02010100016,경영정보학과,1,100.0,4,4,...,0,0,0,0,0,2,1,0,0,0
9355,20191,53055000,상명대학교,1,U02010100107,산업경영학과,E,100.0,10,10,...,0,0,5,0,0,0,10,0,0,0
15984,20191,53024600,광주여자대학교 일반대학원,1,G06040200003,물리치료학과,1,100.0,3,3,...,0,0,0,0,0,3,0,0,0,0
15983,20191,53024600,광주여자대학교 일반대학원,1,G06010200011,치위생학과,1,100.0,1,1,...,0,0,0,0,0,1,0,0,0,0
9362,20191,53055000,상명대학교,1,U02010100768,국방경영과학과,E,100.0,9,9,...,0,0,3,0,0,0,9,0,0,0
15979,20191,53022600,광운대학교대학원,1,G07020300166,홀로그래피 3D 콘텐츠학과,O,100.0,2,2,...,0,0,0,0,0,1,0,0,1,0
9363,20191,53055000,상명대학교,1,U02010100769,중소기업경영학과,E,100.0,1,0,...,-,-,-,-,-,-,-,-,-,-
15977,20191,53022600,광운대학교대학원,1,G05020600026,환경공학과,1,100.0,4,4,...,0,0,0,1,1,1,0,0,1,0
15976,20191,53022600,광운대학교대학원,1,G05020500006,화학과,1,100.0,10,10,...,0,0,0,0,7,2,0,1,0,0
9389,20191,53055000,상명대학교,1,U04110200137,기술경영공학과,E,100.0,17,17,...,0,0,0,0,0,17,0,0,0,0
15972,20191,53022600,광운대학교대학원,1,G04080300036,전자통신공학과,1,100.0,15,11,...,0,0,0,4,1,6,0,0,1,0
15971,20191,53022600,광운대학교대학원,1,G04080100051,컴퓨터과학과,1,100.0,2,2,...,0,0,0,0,1,1,0,0,0,0
9394,20191,53055000,상명대학교,1,U05030300008,의류학과,1,100.0,5,4,...,0,0,0,0,0,4,0,0,0,0
15968,20191,53022600,광운대학교대학원,1,G04070300075,플라즈마바이오디스플레이학과,1,100.0,4,3,...,0,0,0,0,0,3,0,0,0,0
9421,20191,53055000,상명대학교,A,U02010100107,산업경영학과,E,100.0,2,2,...,0,0,0,0,0,2,0,0,0,0
15966,20191,53022600,광운대학교대학원,1,G04050200027,전자공학과,1,100.0,24,19,...,0,0,0,11,1,4,0,0,1,0
9422,20191,53055000,상명대학교,A,U02010100524,금융경영전공,1,100.0,1,1,...,-,-,-,-,-,-,-,-,-,-
15964,20191,53022600,광운대학교대학원,1,G04010200011,건축학과,1,100.0,3,1,...,0,0,0,0,0,1,0,0,0,0
9425,20191,53055000,상명대학교,A,U02010500163,증권금융학과,1,100.0,2,2,...,0,0,0,0,0,2,0,0,0,0
15960,20191,53022600,광운대학교대학원,1,G02030500059,커뮤니케이션학과,1,100.0,2,1,...,0,0,0,0,1,0,0,0,0,0
15959,20191,53022600,광운대학교대학원,1,G02030500022,신문방송학과,1,100.0,1,1,...,0,0,0,0,0,1,0,0,0,0
15958,20191,53022600,광운대학교대학원,1,G02030300050,도시계획부동산학과,1,100.0,2,2,...,0,0,0,0,0,1,0,1,0,0
15957,20191,53022600,광운대학교대학원,1,G02020100088,건설법무학과,1,100.0,4,3,...,0,0,0,0,0,2,0,0,1,0
9426,20191,53055000,상명대학교,A,U02010500165,리스크관리·보험학과,1,100.0,1,1,...,0,0,0,0,0,1,0,0,0,0
15955,20191,53022600,광운대학교대학원,1,G02010600020,국제통상학과,1,100.0,2,1,...,0,0,0,0,0,1,0,0,0,0
15954,20191,53022600,광운대학교대학원,1,G02010100801,방위사업학과 경영정보전공,1,100.0,2,1,...,0,0,0,0,0,0,1,0,0,0
9351,20191,53055000,상명대학교,1,U01020400041,역사콘텐츠학과,1,100.0,2,2,...,0,0,0,0,1,0,1,0,0,0
15989,20191,53026600,국민대학교대학원,1,G01020200095,문화재보존학과협동과정,1,100.0,1,1,...,0,0,0,0,0,0,1,0,0,0
15992,20191,53026600,국민대학교대학원,1,G02010100022,경영학과,1,100.0,21,9,...,0,0,0,1,1,4,0,0,3,0
16014,20191,53026600,국민대학교대학원,1,G05010300034,임산생명공학과,1,100.0,3,3,...,0,0,0,0,0,0,2,0,1,0
16034,20191,53028600,극동대학교일반대학원,1,G04080200059,스마트모바일학과,1,100.0,1,1,...,0,0,0,0,0,0,0,0,1,0
16033,20191,53028600,극동대학교일반대학원,1,G02010100581,외식경영학과,1,100.0,1,1,...,0,0,1,0,0,1,0,0,0,0
9143,20191,53050000,목원대학교,1,U05020200133,미생물나노소재학과,1,100.0,15,12,...,0,0,0,1,0,8,1,0,1,1
9155,20191,53050000,목원대학교,1,U07040100094,미술학부 한국화전공,1,100.0,13,3,...,0,0,0,0,0,2,0,0,1,0
9163,20191,53050000,목원대학교,1,U07060300043,건반악학부 반주전공,1,100.0,1,0,...,-,-,-,-,-,-,-,-,-,-
9184,20191,53051000,배재대학교,1,U02010100803,기업컨설팅학과,1,100.0,5,4,...,0,0,0,1,0,3,0,0,1,0
9223,20191,53051000,배재대학교,1,U07020200093,광고사진영상학과,1,100.0,24,13,...,0,0,0,1,0,9,2,1,1,0
16023,20191,53026600,국민대학교대학원,1,G07010500101,커뮤니케이션디자인학과,1,100.0,8,3,...,0,0,0,0,0,2,0,0,1,0
16022,20191,53026600,국민대학교대학원,1,G07010500004,공간디자인학과,1,100.0,6,1,...,0,0,0,0,0,1,0,0,0,0
16020,20191,53026600,국민대학교대학원,1,G05040300026,물리학과,1,100.0,4,3,...,0,0,0,1,1,0,0,1,0,0
16015,20191,53026600,국민대학교대학원,1,G05020400009,산림자원학과,1,100.0,5,4,...,0,0,0,0,0,1,2,1,0,0
16012,20191,53026600,국민대학교대학원,1,G04090100112,데이터사이언스학과,1,100.0,1,1,...,0,0,0,0,0,1,0,0,0,0
15995,20191,53026600,국민대학교대학원,1,G02010500067,회계학과,1,100.0,2,2,...,0,0,0,0,1,1,0,0,0,0
16011,20191,53026600,국민대학교대학원,1,G04080300251,응용정보기술학과협동과정,1,100.0,1,1,...,0,0,0,0,0,1,0,0,0,0
9246,20191,53052000,부산가톨릭대학교,1,U06040100005,방사선학과,2,100.0,4,4,...,0,0,0,0,0,3,0,1,0,0
16005,20191,53026600,국민대학교대학원,1,G04040100004,기계공학과,1,100.0,13,6,...,0,0,0,3,0,2,0,1,2,0
16004,20191,53026600,국민대학교대학원,1,G04020100009,건설시스템공학과,1,100.0,9,5,...,0,0,0,0,4,0,0,1,0,0
16003,20191,53026600,국민대학교대학원,1,G04010200011,건축학과,1,100.0,1,1,...,0,0,0,0,0,1,0,0,0,0
16002,20191,53026600,국민대학교대학원,1,G03010100034,교육학과,1,100.0,5,1,...,0,0,1,0,0,0,1,0,0,0

In [193]:
dt_nomedical

Index(['조사회차', '학교코드', '학교명', '본분교', '학과코드', '학과명', '주야구분', '취업률', '졸업자수',
       '건보가입취업자', '교내취업자', '해외취업자', '농림어업종사자', '개인창작활동종사자', '1인창(사)업자', '프리랜서',
       '진학자', '입대자', '취업불가능자', '외국인유학생', '제외인정자', '기타', '미상', '분석대상자수', '농업',
       '광업', '제조업', '전기', '수도', '건설업', '도소매', '운수', '숙박', '정보통신', '금융', '부동산',
       '전문과학', '사업시설', '공공', '교육', '보건', '예술', '협회', '가구', '국제', 'NONE', '대기업',
       '중견기업', '중소기업', '국가 및 지방자치단체', '공공기관 및 공기업', '비영리법인', '기타.1'],
      dtype='object')

In [190]:
df_work.iloc[(df_work.프리랜서/df_work.졸업자수).sort_values(ascending=False)]

,조사회차,학교코드,학교명,본분교,학과코드,학과명,주야구분,취업률,졸업자수,건보가입취업자,...,가구,국제,NONE,대기업,중견기업,중소기업,국가 및 지방자치단체,공공기관 및 공기업,비영리법인,기타.1
1,20191,73026000,기독간호대학교,1,C06010100004,간호학과,H1,90.476190,22,19,...,0,0,0,0,0,4,0,7,8,0
1,20191,73026000,기독간호대학교,1,C06010100004,간호학과,H1,90.476190,22,19,...,0,0,0,0,0,4,0,7,8,0
1,20191,73026000,기독간호대학교,1,C06010100004,간호학과,H1,90.476190,22,19,...,0,0,0,0,0,4,0,7,8,0
1,20191,73026000,기독간호대학교,1,C06010100004,간호학과,H1,90.476190,22,19,...,0,0,0,0,0,4,0,7,8,0
1,20191,73026000,기독간호대학교,1,C06010100004,간호학과,H1,90.476190,22,19,...,0,0,0,0,0,4,0,7,8,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,20191,73002000,군산간호대학교,1,C06010100008,간호학과(4년제),1,85.763889,289,246,...,0,0,0,0,1,42,3,25,174,0
0,20191,73002000,군산간호대학교,1,C06010100008,간호학과(4년제),1,85.763889,289,246,...,0,0,0,0,1,42,3,25,174,0
0,20191,73002000,군산간호대학교,1,C06010100008,간호학과(4년제),1,85.763889,289,246,...,0,0,0,0,1,42,3,25,174,0
0,20191,73002000,군산간호대학교,1,C06010100008,간호학과(4년제),1,85.763889,289,246,...,0,0,0,0,1,42,3,25,174,0
0,20191,73002000,군산간호대학교,1,C06010100008,간호학과(4년제),1,85.763889,289,246,...,0,0,0,0,1,42,3,25,174,0

In [203]:
df_work.loc[(pd.Series(df_work.학과코드).str.slice(0) != 'C').index,:]

,조사회차,학교코드,학교명,본분교,학과코드,학과명,주야구분,취업률,졸업자수,건보가입취업자,...,가구,국제,NONE,대기업,중견기업,중소기업,국가 및 지방자치단체,공공기관 및 공기업,비영리법인,기타.1
0,20191,73002000,군산간호대학교,1,C06010100008,간호학과(4년제),1,85.763889,289,246,...,0,0,0,0,1,42,3,25,174,0
1,20191,73026000,기독간호대학교,1,C06010100004,간호학과,H1,90.476190,22,19,...,0,0,0,0,0,4,0,7,8,0
2,20191,73026000,기독간호대학교,1,C06010100007,간호과(4년제),1,80.952381,151,119,...,0,0,0,0,0,45,1,13,59,0
3,20191,73075000,서울여자간호대학교,1,C06010100004,간호학과,H1,83.333333,36,30,...,0,0,0,0,0,4,2,8,16,0
4,20191,73075000,서울여자간호대학교,1,C06010100008,간호학과(4년제),1,82.916667,240,197,...,0,0,0,1,0,15,2,18,161,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18873,20191,Z3210000,한국폴리텍대학 항공캠퍼스,1,C04030200006,항공전자과,1,82.352941,36,28,...,0,0,0,7,6,13,1,0,0,0
18874,20191,Z3210000,한국폴리텍대학 항공캠퍼스,1,C04030200010,항공메카트로닉스과,1,84.313725,52,43,...,0,0,1,10,15,17,0,0,1,0
18875,20191,Z3210000,한국폴리텍대학 항공캠퍼스,1,C04030200019,항공정비과,1,75.000000,26,18,...,0,0,1,8,0,8,2,0,0,0
18876,20191,Z3210000,한국폴리텍대학 항공캠퍼스,1,C04030200027,항공제어시스템과,1,77.777778,53,35,...,0,0,0,4,4,26,1,0,0,0
18877,20191,Z3210000,한국폴리텍대학 항공캠퍼스,1,C04070300034,항공신소재과,O,92.857143,14,12,...,0,0,0,0,0,12,0,0,0,0

In [195]:
#프리랜서(의학꼐열 제외) 비율 높은 학교 
    dt_nomedical = df_work[df_work.columns[pd.Series(df_work.columns).str.slice(0) != 'C']] 
# dt_nomedical.loc[(dt_nomedical.프리랜서/dt_nomedical.졸업자수).sort_values(ascending=False).index,:]

IndentationError: unexpected indent (<ipython-input-195-9d84ddae8f95>, line 2)

In [ ]:
df_work.중견기업/df_work.졸업자수

In [186]:
df_work.중견기업[df_work.중견기업 == '-'] = 0
df_work.중견기업 = df_work.중견기업.astype('int')

<ipython-input-186-2789a300734d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_work.중견기업[df_work.중견기업 == '-'] = 0

In [188]:
df_work.iloc[df_work.중견기업.sort_values(ascending= True).index,:]

IndexError: positional indexers are out-of-bounds

In [128]:
# df_work.취업률 = 
df_work_no = df_work.drop(df_work.loc[df_work['취업률'] == '-',:].index,axis=0)
# df_work.drop(df_work['취업률'] == '-',:,axis=0)

In [205]:
df_work_no.loc[(df_work_no.중견기업/df_work_no.졸업자수).sort_values(ascending = False).index, ['학과명', '학교명','학과코드']][0:3].학과코드

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [206]:
df.columns

Index(['연도', '학제', '학교명', '학교상태', '본분교', '시도', '시군구', '설립', '주야구분', '주소',
       '학위과정', '대계열', '중계열', '소계열', '학과코드', '학과명', '학과수_전체', '학과수_석사',
       '학과수_박사', '입학정원', '지원자_전체_계', '지원자_전체_여', '지원자_석사_계', '지원자_석사_여',
       '지원자_박사_계', '지원자_박사_여', '입학자_전체_계', '입학자_전체_여', '입학자_석사_계', '입학자_석사_여',
       '입학자_박사_계', '입학자_박사_여', '재적생_전체_계', '재적생_전체_여', '재학생_전체_계', '재학생_전체_여',
       '휴학생_전체_계', '휴학생_전체_여', '재적생_석사_계', '재적생_석사_여', '재학생_석사_계', '재학생_석사_여',
       '휴학생_석사_계', '휴학생_석사_여', '재적생_박사_계', '재적생_박사_여', '재학생_박사_계', '재학생_박사_여',
       '휴학생_박사_계', '휴학생_박사_여', '외국인유학생_총계_계', '외국인유학생_총계_여', '외국인유학생_학사_계',
       '외국인유학생_학사_여', '외국인유학생_석사_계', '외국인유학생_석사_여', '외국인유학생_박사_계',
       '외국인유학생_박사_여', '졸업자_전체_계', '졸업자_전체_여', '졸업자_석사_계', '졸업자_석사_여',
       '졸업자_박사_계', '졸업자_박사_여', '전임교원_계', '전임교원_여', '비전임교원_계', '비전임교원_여',
       '시간강사_계', '시간강사_여'],
      dtype='object')

In [210]:
df.loc[(df.학과코드 == 'C04030200006')&(df.학교명 == ' '),['연도','입학정원']]

          연도  입학정원
24409   2014    45
29999   2014    30
54529   2015    45
60308   2015    30
84894   2016    45
90669   2016    30
116006  2017     0
121790  2017    30
146830  2018     0
152581  2018    30
177207  2019     0
182999  2019    30

In [ ]:
#취업률이 가장 낮은 학과
#취업을 가장 다양하게 가는 학과- 분산이 가장 고르게

In [211]:
df_work.columns[0:27]

Index(['조사회차', '학교코드', '학교명', '본분교', '학과코드', '학과명', '주야구분', '취업률', '졸업자수',
       '건보가입취업자', '교내취업자', '해외취업자', '농림어업종사자', '개인창작활동종사자', '1인창(사)업자', '프리랜서',
       '진학자', '입대자', '취업불가능자', '외국인유학생', '제외인정자', '기타', '미상', '분석대상자수', '농업',
       '광업', '제조업'],
      dtype='object')

In [212]:
pd.Series(df_work.columns) #컬럼 인덱싱하기

0            조사회차
1            학교코드
2             학교명
3             본분교
4            학과코드
5             학과명
6            주야구분
7             취업률
8            졸업자수
9         건보가입취업자
10          교내취업자
11          해외취업자
12        농림어업종사자
13      개인창작활동종사자
14       1인창(사)업자
15           프리랜서
16            진학자
17            입대자
18         취업불가능자
19         외국인유학생
20          제외인정자
21             기타
22             미상
23         분석대상자수
24             농업
25             광업
26            제조업
27             전기
28             수도
29            건설업
30            도소매
31             운수
32             숙박
33           정보통신
34             금융
35            부동산
36           전문과학
37           사업시설
38             공공
39             교육
40             보건
41             예술
42             협회
43             가구
44             국제
45           NONE
46            대기업
47           중견기업
48           중소기업
49    국가 및 지방자치단체
50     공공기관 및 공기업
51          비영리법인
52           기타.1
dtype: object

In [213]:
df_work.iloc[:,23:].applymap(xxx).astype('int')

NameError: name 'xxx' is not defined

In [264]:
def xxx(x):
    if x == '-':
        x = 0
    return x

In [265]:
df_work_no.iloc[:,23:] = df_work_no.iloc[:,23:].applymap(xxx).astype('int')

In [266]:
xxx('-')

0

In [235]:
df_work.개인창작활동종사자/df_work.분석대상자수

0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
18873    0.0
18874    0.0
18875    0.0
18876    0.0
18877    0.0
Length: 18355, dtype: float64

In [236]:
np.mean(df_work.개인창작활동종사자/df_work.졸업자수)  #대기업 취업률

0.005265719118601915

In [ ]:
df_work.

In [ ]:
xxx('-')

In [227]:
df.졸업자_석사_계.sum()

494529

In [222]:
df.columns

Index(['연도', '학제', '학교명', '학교상태', '본분교', '시도', '시군구', '설립', '주야구분', '주소',
       '학위과정', '대계열', '중계열', '소계열', '학과코드', '학과명', '학과수_전체', '학과수_석사',
       '학과수_박사', '입학정원', '지원자_전체_계', '지원자_전체_여', '지원자_석사_계', '지원자_석사_여',
       '지원자_박사_계', '지원자_박사_여', '입학자_전체_계', '입학자_전체_여', '입학자_석사_계', '입학자_석사_여',
       '입학자_박사_계', '입학자_박사_여', '재적생_전체_계', '재적생_전체_여', '재학생_전체_계', '재학생_전체_여',
       '휴학생_전체_계', '휴학생_전체_여', '재적생_석사_계', '재적생_석사_여', '재학생_석사_계', '재학생_석사_여',
       '휴학생_석사_계', '휴학생_석사_여', '재적생_박사_계', '재적생_박사_여', '재학생_박사_계', '재학생_박사_여',
       '휴학생_박사_계', '휴학생_박사_여', '외국인유학생_총계_계', '외국인유학생_총계_여', '외국인유학생_학사_계',
       '외국인유학생_학사_여', '외국인유학생_석사_계', '외국인유학생_석사_여', '외국인유학생_박사_계',
       '외국인유학생_박사_여', '졸업자_전체_계', '졸업자_전체_여', '졸업자_석사_계', '졸업자_석사_여',
       '졸업자_박사_계', '졸업자_박사_여', '전임교원_계', '전임교원_여', '비전임교원_계', '비전임교원_여',
       '시간강사_계', '시간강사_여'],
      dtype='object')

In [224]:
pd.set_option('display.max_columns', 100)

In [260]:
df_work_no['취업률']= df_work_no.astype({'취업률':float})

In [238]:
pd.Series(df_work.columns)

0            조사회차
1            학교코드
2             학교명
3             본분교
4            학과코드
5             학과명
6            주야구분
7             취업률
8            졸업자수
9         건보가입취업자
10          교내취업자
11          해외취업자
12        농림어업종사자
13      개인창작활동종사자
14       1인창(사)업자
15           프리랜서
16            진학자
17            입대자
18         취업불가능자
19         외국인유학생
20          제외인정자
21             기타
22             미상
23         분석대상자수
24             농업
25             광업
26            제조업
27             전기
28             수도
29            건설업
30            도소매
31             운수
32             숙박
33           정보통신
34             금융
35            부동산
36           전문과학
37           사업시설
38             공공
39             교육
40             보건
41             예술
42             협회
43             가구
44             국제
45           NONE
46            대기업
47           중견기업
48           중소기업
49    국가 및 지방자치단체
50     공공기관 및 공기업
51          비영리법인
52           기타.1
dtype: object

In [267]:
x = df_work_no.iloc[:,23:]

In [268]:
x.apply(np.std,axis=1).sort_values()

17765     0.000000
10289     0.000000
10290     0.000000
16947     0.000000
18468     0.000000
           ...
2533     68.108058
1811     69.186021
4688     72.300664
1907     74.370252
964      79.562893
Length: 18355, dtype: float64

In [269]:
df_work_no['std'] = x.apply(np.std,axis=1)

In [270]:
df_work_no['std']

0        61.740452
1         4.908741
2        29.989974
3         7.033294
4        49.544628
           ...
18873     6.285772
18874     9.800720
18875     3.844533
18876     8.018319
18877     3.555711
Name: std, Length: 18355, dtype: float64

In [280]:
x1 = df_work_no.loc[(df_work_no['std'] != 0) & (df_work_no.분석대상자수 >30),['학교명','학과명','학과코드','std']].sort_values('std',ascending=False)[0:200]

In [273]:
x1

              학교명      학과명          학과코드       std
6600       가톨릭대학교    국사학전공  U01020400004  1.956871
6973        경남대학교     심리학과  U01020300006  2.011931
5598        전남대학교     생물학과  U05020200021  2.011931
11134       인하대학교     교육학과  U03010100010  2.011931
4710        경북대학교  축산생명공학과  U05010100078  2.027901
...           ...      ...           ...       ...
15271  서울시립대학교대학원     경영학과  G02010100022  2.281902
12460       호서대학교   사회체육전공  U07030200043  2.281902
6465      서울시립대학교      철학과  U01020700029  2.281902
6766        건국대학교   영미어문학과  U01010600013  2.282358
2018      한림성심대학교    관광일어과  C01010100005  2.282358

[200 rows x 4 columns]

In [282]:
pd.set_option('display.max_rows', 500)

In [283]:
x1.groupby('학교명').count().학과코드

학교명
가야대학교            1
가천대학교            2
가톨릭상지대학교         1
강릉영동대학교          1
건국대학교            1
건양대학교            1
경기대학교            1
경남대학교            1
경남정보대학교          4
경동대학교            3
경복대학교            3
경북과학대학교          1
경북대학교            3
경북보건대학교          1
경북전문대학교          1
경운대학교            1
경인여자대학교          1
경희대학교            4
계명대학교            1
계명문화대학교          2
고려대학교            1
고신대학교            1
광양보건대학교          1
광운대학교            1
광주보건대학교          3
국민대학교            2
국제대학교            1
군산간호대학교          1
금오공과대학교          1
기독간호대학교          1
김해대학교            1
남부대학교            1
단국대학교            1
대구가톨릭대학교         1
대구과학대학교          2
대구보건대학교          6
대동대학교            1
대원대학교            1
대전과학기술대학교        1
대전보건대학교          2
동강대학교            1
동국대학교            1
동남보건대학교          1
동신대학교            1
동아대학교            2
동아보건대학교          1
동양미래대학교          1
동의과학대학교          1
동의대학교            1
동주대학교            1
두원공과대학교          2
마산대학교            3
명지대학교 인문캠퍼스      1
목포가톨릭대학교         1
목포해양대학교          1
문경대학교            1
백석대학교            5
백석문화대학교          2
부산과학기술대학교        1
부산대학교            1
삼육보건대학교          1
서강대학교            1
서영대학교            1
서울대학교 대학원        2
서울시립대학교          2
서울여자간호대학교        1
서정대학교            1
선린대학교            1
성균관대학교           6
성균관대학교 일반대학원     1
성덕대학교            1
세명대학교            1
수성대학교            1
수원과학대학교          2
수원여자대학교          1
숙명여자대학교          1
순천향대학교           1
숭실대학교            2
신구대학교            1
신성대학교            3
신한대학교            1
아주대학교            2
아주자동차대학          1
안동과학대학교          1
안산대학교            1
연세대학교            2
연세대학교 대학원        2
연암공과대학교          2
영남대학교            1
영남이공대학교          2
영진전문대학           7
예수대학교            1
울산대학교            3
울산대학교 대학원        1
원광대학교            1
원광보건대학교          3
인제대학교            1
인천재능대학교          1
인하공업전문대학         1
인하대학교            5
전남과학대학교          2
전남대학교            1
제주한라대학교          1
조선간호대학교          1
조선대학교            1
조선이공대학교          1
중앙대학교 서울캠퍼스      5
진주보건대학교          2
청강문화산업대학교        1
청암대학교            1
초당대학교            1
춘해보건대학교          2
한국과학기술원 일반대학원    1
한국교원대학교          1
한국기술교육대학교        2
한국승강기대학교         1
한국외국어대학교         1
한국체육대학교          1
한국항공대학교          1
한양대학교            3
한양대학교대학원         1
혜전대학교            2
호산대학교            1
홍익대학교            3
Name: 학과코드, dtype: int64

In [254]:
df_work.loc[(df_work.학과코드 == 'U05020200021')&(df_work.학교명='전남대학교')

SyntaxError: unexpected EOF while parsing (<ipython-input-254-a8de71bb63f1>, line 1)

In [257]:
df_work_no.iloc[np.array(df_work_no.학과코드 == 'G01010200003') &np.array(df_work_no.학교명=='성균관대학교'),23:]

Empty DataFrame
Columns: [분석대상자수, 농업, 광업, 제조업, 전기, 수도, 건설업, 도소매, 운수, 숙박, 정보통신, 금융, 부동산, 전문과학, 사업시설, 공공, 교육, 보건, 예술, 협회, 가구, 국제, NONE, 대기업, 중견기업, 중소기업, 국가 및 지방자치단체, 공공기관 및 공기업, 비영리법인, 기타.1]
Index: []

In [ ]:
# df= pd.DataFrame()
# for files in file_list[0:9]:
#     print(files)+-